<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{fragment:: head-section}"></head>

<body>
<link rel="stylesheet" href="/css/form.css">
<header data-th-replace="~{fragment:: header-section}"></header>

<h1>Add Blog</h1>
</header>
<main>

    <section>

        <div data-th-replace= "~{fragment::link-section(url='/add-blog',name='Back to Home')}"></div>

        <div class="form-container">
            <h2>Create Blog</h2>

            <form action="/add-blog" method="post">

                <div class="form-group">
                    <label for="input-1">Heading</label>
                    <input type="text" id="input-1" class="form-control" name="heading" required>
                </div>

                <div class="form-group">
                    <label for="input-2">Enter Description</label>
                    <textarea type="text" id="input-2" rows="5" class="form-control" name="description" required>
                        </textarea>
                </div>

                <input type="submit">

            </form>
        </div>
    </section>
</main>
</body>
</html>
