body{
    background-color: lightgoldenrodyellow;
    margin-top: 0;

}
.container{
    width: max-content;
    height: 50rem;
}
.heading{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    text-align: center;
}
.table{
    margin-top: 5%;
    background-color: white;
    border-collapse: collapse;
}
.table th{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table tr{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{

    background-color: lightblue;
}
.dateTime{
    text-align:right;
    font-style: italic;
    font-weight: 500;
    color: darkred;
    font-size:medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
